<div class="addthis_sharing_toolbox">
<ul class="share_links">
  <li>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<a class="addthis_button_google_plusone"></a><a class="addthis_button_sinaweibo"></a><a class="addthis_button_qzone"></a><a class="addthis_button_douban"></a><a class="addthis_button_delicious"></a><a class="addthis_button_tumblr"></a><a class="addthis_button_googletranslate"></a><a class="addthis_button_instapaper"></a><a class="addthis_button_twitter"></a><a class="addthis_button_digg"></a>
</li>
</ul>
</div>
