<ul class="share_links">
  <li>
<!-- JiaThis Button BEGIN -->
<div class="jiathis_style"><span class="jiathis_txt">分享到：</span>
<a class="jiathis_button_googleplus"></a>
<a class="jiathis_button_tsina"></a>
<a class="jiathis_button_weixin"></a>
<a class="jiathis_button_twitter"></a>
<a class="jiathis_button_delicious"></a>
<a class="jiathis_button_instapaper"></a>
<a class="jiathis_button_tumblr"></a>
<a class="jiathis_button_fb"></a>
<a class="jiathis_button_douban"></a>
<a href="http://www.jiathis.com/share?uid=1946532" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank"></a>
<a class="jiathis_counter_style"></a>
</div>
<script type="text/javascript" >
var jiathis_config={
	data_track_clickback:true,
	summary:"",
	ralateuid:{
		"tsina":"1619722161"
	},
	shortUrl:false,
	hideMore:true
}
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js?uid=1946532" charset="utf-8"></script>
<!-- JiaThis Button END -->
</li>
</ul>
